<% include ../partials/header %>
    
    <header class="jumbotron">
        <div>
            <h1>Welcome to RecipeWebApp!</h1>
            <p>Got a recipe that sounds great?! Post it to share with everyone!</p>
            <p>
                <a class="btn btn-primary btn-large" href="/recipes/new">Add New Recipe</a>
            </p>
        </div>
        
    </header>
    <div class="container">
        <div class="row text-center showcase" style="dispaly:flex; flex-wrap: wrap;">
            <% recipes.forEach(function(recipe){ %>
                <div class="col-md-3 col-sm-12">
                    <div class="thumbnail gallery">
                        <img src="<%= recipe.image %>">
                        <div class="caption">
                            <h4><%= recipe.name %></h4>
                            <h5><em>with <%= recipe.subname %></h5></em>
                        </div>
                        <p>
                            <a href="/recipes/<%= recipe._id %>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
<% include ../partials/footer %>
